<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="shortcut icon" href="#"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.24/datatables.min.css"/>

    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.24/datatables.min.js"></script>

    <title>Title</title>

<!--    <script>-->
<!--        $(document).ready(function(){-->
<!--            $("#myInput").on("keyup", function() {-->
<!--                var value = $(this).val().toLowerCase();-->
<!--                $("#myTable tr").filter(function() {-->
<!--                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)-->
<!--                });-->
<!--            });-->
<!--        });-->
<!--    </script>-->



        <script>

            $(document).ready(function() {
                var tableUser = $('#userTable').DataTable( {


                    "processing": true,
                    "serverSide": true,
                    "pageLength": 3,


                    "ajax": {
                        "type": 'GET',
                        "url": '/index/fetch-user-data',
                        dataSrc:"data"


                    },
                    "columns": [

                        { "data": "name" }
                    ]
                } );
            } );

        </script>



</head>
<body>
<!--<div class = "container">-->
<!--    <table>-->
<!--      <tr class = "row" th:each = "user: ${userInfo}">-->
<!--        <td class = "col-xs-12" th:text = "*{user.name}"></td>-->
<!--        <td class = "col-xs-offset-6" > <a th:href = "@{/index/edit/{id}(id = ${user.id})}">Edit</a></td>-->
<!--      </tr>-->
<!--    </table>-->
<!--</div>-->

<!--<div class = "col-md-8">-->
<table id = "userTable"  class = "display" style="width:100%">
    <thead>
        <tr>
            <th>Name</th>
<!--            <th>ID</th>-->
<!--            <th>Edit</th>-->
<!--            <th>Style</th>-->

        </tr>
    </thead>
    <tbody >
        <tr th:each = "user, userStat: ${userInfo}">
            <td th:text = "*{user.name}"></td>
<!--            <td th:text = "*{user.id}"></td>-->
<!--            <td > <a th:href = "@{/index/edit/{id}(id = ${user.id})}">Edit</a></td>-->
<!--            <td> <button th:id = "|Button id *{userStat.count}|" th:text = "|Click *{userStat.count} button to change the row color|" ></button> </td>-->
        </tr>
    </tbody>
</table>
<!--</div>-->


<script>
    var buttonCount = document.querySelectorAll("#userTable button").length;
    for( var i = 0; i<buttonCount; i++){
        $( "button" ).eq( i ).on( "click" ,i,  function( event ) {

            $(this).parent().parent().css("background-color", "yellow");
            alert(this.id);
        });
    }



</script>
</body>
</html>